*{
    padding: 0; margin: 0; border: 0; box-sizing: border-box;
}

.header{
    width: 100%;    
    margin: 10px auto;

}
.service-container{   
    
    margin: 100px;   
    background-color: red; 
    
}

.col-md-3{
    background-color: blue;
}

