*{
    padding: 0; margin: 0; border: 0; box-sizing: border-box;
}

.services{
    background-color: #8e8e7c; 
    padding: 15px;
}

.services:after{
    content: " "; 
    display: block; 
    clear:both;
}

.service-list{
    width: 1000px; 
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    padding-left: 80px;
}

.service{
    background-color: white; 
    padding: 15px;
    float: left;
    border-radius: 5px;
}

.more-info{
    padding: 10px;
    background-color:  #6bbf5d;
    color: white;
    float: right;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.more-info:hover{
    background-color: #f45642;
}

.more-info:hover:after{
    content: " Check it now!"
}


@media  (min-width: 200px){
    .service-list{
        width: 100%;
    }

    .service{
        width: 80%;
        margin-bottom: 10px;
        margin-left: 10px;
    }
}



@media  (min-width: 900px){
    .service{
        background-color: white; 
        padding: 15px;
        width: 30%;
        margin-left: 10px;
    }
    
}